<div class = "row">
          <div class = "col-md-1">
            <img class = "picture hide beefP" src = ../pictures/cow.png>
            <img class = "picture hide fishP" src = ../pictures/fish.png>
            <img class = "picture hide vegP" src = ../pictures/veg.png>
            <img class = "picture hide chickenP" src = ../pictures/chicken.png>
          </div>
          <div class = "col-md-1">
            <img class = "picture hide grilledP" src = ../pictures/grilled.jpg>
            <img class = "picture hide crispyP" src = ../pictures/crispy.jpg>
            <img class = "picture hide steakP" src = ../pictures/steak.png>
            <img class = "picture hide groundP" src = ../pictures/ground.jpg>
            <img class = "picture hide tofuP" src = ../pictures/tofu.jpg>
            <img class = "picture hide riceP" src = ../pictures/rice.png>
            <img class = "picture hide codP" src = ../pictures/cod.png>
            <img class = "picture hide halibutP" src = ../pictures/halibut.jpg>
          </div>
        </div>
        <div class = "row">
          <div class = "col-md-1">
          <img class = "picture hide heat 1" src = ../pictures/1heat.png>
          <img class = "picture hide heat 2" src = ../pictures/2heat.png>
          <img class = "picture hide heat 3" src = ../pictures/3heat.png>
          <img class = "picture hide heat 4" src = ../pictures/4heat.png>
          <img class = "picture hide heat 5" src = ../pictures/5heat.jpg>
          <img class = "picture hide heat 6" src = ../pictures/6heat.jpg>
          <img class = "picture hide heat 7" src = ../pictures/7heat.png>
          <img class = "picture hide heat 8" src = ../pictures/8heat.jpeg>
          </div>
        </div>
        <div class = "row">
          <div class = "col-md-1">
          </div>
        </div>
