<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/sections.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>

  <header>
   <img src = "superhero.jpg" width="50px" height="50px">
  MiddleMan
  <footer>UserName</footer>
  </header>

    <h1>Buritocalyspe Now</h1>
    <main>Order UP
    <section class = "chicken">Chicken</section>
    <section class = "beef">Beef</section>
    <section class = "fish">Fish</section>
    <section class = "veg">Vegetarian</section>
    </main>
    <section id = "cart">Cart</section>

    <h1>Hello World!</h1>
    <p><a href="/restaurants">Restaurants</a></p>
    <p><a href="/restaurants/id">The Burrito Place</a></p>
    <p><a href="/confirm-order">Confirm Order</a></p>
    <p><a href="/current-orders">Customer Wait Time</a></p>
    <p><a href="/orders-in-progress">Restaurant's Orders In Progress</a></p>
  </body>
</html>
