<!DOCTYPE html>
<html>
<head>
  <title>Confirm Your Order</title>
  <!--BootStrap Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/sections.css" type="text/css" />
    <link rel="stylesheet" href="/styles/cart.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/orderC.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <!-- Bootstrap Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <header>   <img src = "../pictures/superhero.jpg" width="50px" height="50px">
  MiddleMan 4: The quest for Purritos
  <footer>UserName</footer></header>
  <main>
    <div class = "container box">
      <h1>Your order details:</h1>
      <div id = "confirm-order-items" class = "row">
        <div class = "list-of-order-items col-md-10">
          <p> Please take a moment to make sure your burrito order is as awesome as possible: </p>
          <ul>
            <% order.forEach(function(elm) { %>
            <li><%= elm %> </li>
            <% }); %>
          </ul>
          <!-- list of order items col-md-10 end -->
          <form action = "sendOrder" method="POST">
          <button id = "confirmOrder" class = "btn-primary">Confirm</button>
          </form>
        </div>
        <div class = "col-md-2">
          <aside class = "thanks">
            <p>Thanks for buying our fab burritos!</p>

          </aside>
        </div>





      <!-- confirm-order-items row div below -->
      </div>
    <!-- container div below -->
    </div>



  </main>

</body>
<script type="text/javascript" src="/scripts/send-sms.js">
    </script>
</html>
