<!DOCTYPE html>
<html>
<head>
  <title>This is going to be a variable at some point</title>
</head>
<body>
  <h1>The Burrito Place! (THis will also be a variable though lets be real)</h1>
  <p>For all your burrito needs</p>
</body>
</html>
