<!DOCTYPE html>
<html>
<head>
  <title>Burritocalyspe Now</title>
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/sections.css" type="text/css" />
  <link rel="stylesheet" href="/styles/aside.css" type="text/css" />
</head>
<body>
  <header>Buritocalyspe Now</header>
    <main>
    <section class = "beef">Beef</section>
    <section class = "chicken">Chicken</section>
    <section class = "veg">Vegetarian</section>
    <section class = "fish">Fish</section>
    </main>
    <aside class = "cart">Cart</section>
</body>
</html>
