<!DOCTYPE html>
<html>
<head>
  <title>This is going to be a variable at some point</title>
</head>
<body>
  <h1>Buritocalyspe Now</h1>
    <main>Order UP
    <section class = "chicken">Chicken</section>
    <section class = "beef">Beef</section>
    <section class = "fish">Fish</section>
    <section class = "veg">Vegetarian</section>
    </main>
    <section id = "cart">Cart</section>
</body>
</html>
