<!DOCTYPE html>
<html>
<head>
  <title>Burritocalyspe Now</title>
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/sections.css" type="text/css" />
  <link rel="stylesheet" href="/styles/aside.css" type="text/css" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <!--BootStrap Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Bootstrap Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <header>   <img src = "../superhero.jpg" width="50px" height="50px">
  MiddleMan
  <footer>UserName</footer></header>
    <main>
      <h1 class = "dumplings"> Burritocalyspe Now</h1>

      <div id = "food" class = "row">
        <div class = "col-md-8">
          <section>
            <button type="button" class="start   btn-primary btn-block active">Start Your Purrito
            </button>
          </section>
        </div>
        <div id = "cart" class = "col-md-4">
          <div class = "col-md-offset-5">
            <aside>Cart</aside>
          </div>
        </div>
      </div>

      <section class = "fillings">

        <div class = "row">

          <div class = "col-md-8">

            <button id = "beef" type="button" class="btn meatMenu btn-primary btn-block active">
            Beef
            </button>
            <button id = "chicken" type="button" class="btn meatMenu btn-primary btn-block active">
            Chicken
            </button>

            <button id = "veg" type="button" class="btn meatMenu btn-primary btn-block active">
              Vegetarian
            </button>

            <button id = "fish" type="button" class="btn meatMenu btn-primary btn-block active">
              Fish
            </button>

          </div>

        </div>

      </section>

      <section class = "types">
        <section class = "chickenTypes"></section>
        <div class = "row">
          <div class = "col-md-8">

            <button type="button" class="btn btn-primary btn-block active">
            Beef
            </button>


            <button type="button" class="btn btn-primary btn-block active">
            Chicken
            </button>
          </div>
        </div>
      </section>
    </main>
    <script type="text/javascript" src="/scripts/app.js"></script>

</body>
</html>
