#cart{
  background: #eee;
  text-align: center;
  border: 2px solid green;
}

.order-items {
  text-align: left;
  font-size: 1em;
  padding: 5px;
}

.title {
  font-size: 2em;
}

.checkout {
  font-size: 1em;
  margin-bottom: 5px;
}
aside{
    list-style-type: none;
    margin: 66%;
    padding: 0;
    width: 33%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;

}
.float{
  float:right;
}
