
.cart{
  background: #eee;
  text-align: center;
  border: 2px solid green;
}

.order-items {
  text-align: left;
  font-size: 1em;
  padding: 5px;
  word-wrap: break-word;
}

.title {
  font-size: 2em;
  text-align: center;
}

.checkout {
  font-size: 1em;
  margin-bottom: 5px;
}

