
button.btn{
  font-size:3em;
}
#beef{
  float:right;
  width:25%;
}
#chicken{
  float:left;
  width:25%;
  margin:0em;
}
#fish{
  float:left;
  width:25%;
  margin:0em;
}
#veg{
  float:right;
  width: 25%;
  margin:0em;
}
button.start{
  font-size:5em;
}

