
button.btn{
  font-size:3em;
}
.btn-block+.btn-block {
    margin-top: 0px;
}
button.start{
  font-size:5em;
}
button.meatMenu{
  float:left;
  width:25%;
}
button.standard{
  float:left;
  width:50%;
}
button.width{
  width:100%;
}
